a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
.text-grey {
  color: #cdcdcd !important;
}

.main-head > * {
  height: 6vh;
}
